.premio {
  background-color: #f5f7fa;
  max-width: 400px;
  height: 300px;
  margin-top: 60px;
  border-radius: 15px 15px 10px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.premio p,
h1 {
  padding-left: 60px;
  margin: 0px;
  color: #0b0c12;
}

.premio p {
  font-size: 20px;
}
.premio h1 {
  font-size: 40px;
}

.premio img {
  max-width: 400px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 30px;
}

.pag-tab {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 40px;
  padding: 20px;
}

@media (max-width: 1340px) {
  .pag-tab {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .participantes td, tr{
    padding: 10px;
    font-size: 10px;
  }
}

@media (max-width: 800px) {
  .participantes td, tr, th{
    padding: 10px;
    font-size: 10px;
  }
}

@media (max-width: 800px) {
  .participantes tr th{
    padding: 10px;
    font-size: 10px;
  }
}

@media (max-width: 800px) {
  .participantes td a{
    padding: 10px;
    font-size: 10px;
  }
}
